@import "assets/scss/config/fonts";
@import "assets/scss/config/reset";
@import "assets/scss/config/vars";
@import "assets/scss/config/utility";
@import "assets/scss/modules/typography";
@import "assets/scss/modules/fields";
@import "assets/scss/modules/buttons";
@import "assets/scss/modules/toast";
@import "assets/scss/config/global";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.app-author {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.app-container {
  --gap: 15px;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--bcs-grey-3);
  padding: 20px;
}

.root {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 25px 35px rgba(0, 0, 0, 0.03);
  padding: 10px;
  position: relative;
  min-height: 370px;
  overflow: hidden;

  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
  }

  .overlay {
    position: absolute;
    background-color: #fff;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: all 0.25s ease;

    &.visible {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
    }

    button {
      margin-top: auto;
    }
  }
}

h3 {
  text-transform: uppercase;
}

.dice {
  max-width: 90px;
  margin-inline: auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  @media (min-width: 576px) {
    max-width: 120px;
  }
}

.column {
  padding: 10px;

  &--player {
    border: 3px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: grid;
    gap: 10px;
    text-align: center;
    transition: all 0.25s ease;

    @media (min-width: 576px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }

    .current {
      padding: 20px 10px;
      border: 3px solid rgba(0, 0, 0, 0.25);
      background-color: #fff;
      width: 100%;
      display: grid;
      gap: var(--gap);
      border-radius: 10px;
      margin-inline: auto;

      @media (min-width: 576px) {
        margin-top: auto;
      }

      &__label {
        font-weight: 400;
      }
    }

    &.active {
      border-color: #ffb6b9;

      .current {
        border-color: #ffb6b9;
      }
    }

    &.winner {
      border-color: #9dd3a8;

      .current {
        border-color: #9dd3a8;
      }
    }
  }

  &--buttons {
    display: grid;
    gap: 10px;

    @media (min-width: 576px) {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .buttons {
      display: grid;
      gap: 10px;
      margin-top: auto;
    }

    button {
      width: 100%;
    }
  }
}
